@use '../abstracts/_index.scss' as *;

.services {
    width: 70%;
    @include flex($justify: flex-start, $align: stretch, $flow: row wrap);
    margin: 4.8rem auto 0;

    @include rwd(768) {
        width: 90%;
    }

    &__item {
        flex-basis: 33%;
        padding: 3.2rem;

        @include rwd(1200) {
            flex-basis: 50%;

            &:nth-child(1) {
                flex-basis: 100%;
                text-align: center;
                padding-bottom: 4.8rem;
            }

            &:nth-child(4) {
                order: 2;
            }
        }

        @include rwd(576) {
            padding: 3.2rem 1.6rem;
        }

        @include rwd(430) {
            flex-basis: 100%;

            &:nth-child(4) {
                order: initial;
            }
        }

        &__tel {
            font-weight: 300;
            color: $primary-color;
            text-transform: capitalize;
        }

        &__img {
            @include flex;
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            box-shadow: 0 0 2.12rem .2rem rgba(0, 0, 0, 0.25);
            background: rgba(39, 39, 39, 1);
        }

        svg {
            fill: $primary-color;
        }

        &__title {
            font-size: 2.4rem;
            font-weight: 500;
            color: $light-color;
            margin: 10rem 0 4rem;

            @include rwd(1200) {
                font-size: 1.4rem;
                margin: 3.2rem 0 1.6rem;
            }
        }

        &__text {
            font-size: 1.4rem;
            font-weight: 300;
            color: rgba(220, 220, 220, 1);

            @include rwd(1200) {
                font-size: 1.2rem;
            }
        }

        &--bg {
            background-color: rgba(39, 39, 39, 1);

            .services__img {
                box-shadow: 0 0 2.12rem .2rem rgba(0, 0, 0, 0.25);
            }
        }

        &:first-child {
            .services__item__title {
                font-size: 4.5rem;
                font-weight: 600;
                color: $light-color;
                text-transform: uppercase;
                margin: 0;
            }

            .services__item__text {
                font-size: 1.5rem;
                font-weight: 300;
                color: $light-color;
                margin: 6rem 0 1.6rem;
                max-width: 35rem;

                @include rwd(1200) {
                    max-width: 30rem;
                    margin: 3.2rem auto;
                }
            }
        }
    }






}