@use "abstracts/index" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .4s linear;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;

    &::first-letter {
        text-transform: uppercase;
    }
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
    background-color: $tertiary-color;
    color: $secondary-color;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bentham", sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

section {
    padding: 7rem 0;

    @include rwd(992) {
        padding: 5rem 0;
    }
}

.container {
    width: 70%;
    margin: auto;

    @include rwd(992) {
        width: 80%;
    }
}