@keyframes arrow-down-bouncing {
  0% {
    bottom: 4rem;
  }
  50% {
    bottom: 7rem;
  }
  100% {
    bottom: 4rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.4s linear;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
*::first-letter {
  text-transform: uppercase;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", serif;
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: #151617;
  color: #fff;
  min-height: 100vh;
}

img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

section {
  padding: 9rem 0;
}
@media (max-width: 576px) {
  section {
    padding: 7rem 0;
  }
}

a:hover {
  color: #FF1500;
}

.container {
  width: 80%;
  margin: auto;
}
@media (max-width: 576px) {
  .container {
    width: 90%;
  }
}

.section-header {
  text-align: center;
}
.section-header .section-title {
  color: #FF1500;
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
.section-header .section-subtitle {
  font-weight: 700;
  font-size: 3.2rem;
  text-transform: capitalize;
}
@media (max-width: 576px) {
  .section-header .section-subtitle {
    max-width: 100%;
    font-size: 2.5rem;
  }
}

.btn, .btn-outline, .btn-primary {
  display: inline-block;
  min-width: 17rem;
  background: transparent;
  border: 0.2rem solid #FF1500;
  color: #fff;
  padding: 1.2rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  border-radius: 4rem;
  text-transform: capitalize;
  cursor: pointer;
}
@media (max-width: 568px) {
  .btn, .btn-outline, .btn-primary {
    width: 100%;
    max-width: 16.3rem;
  }
}
.btn i, .btn-outline i, .btn-primary i {
  margin-left: 1rem;
}
.btn:hover, .btn-outline:hover, .btn-primary:hover {
  color: #fff;
}
.btn-primary {
  background-color: #FF1500;
}
.btn-primary:hover i {
  color: #FF1500;
}
.btn-primary:hover {
  background: transparent;
}
.btn-outline {
  background: transparent;
}
.btn-outline:hover {
  background-color: #FF1500;
}

.social__icons {
  position: fixed;
  top: 50%;
  right: auto;
  bottom: auto;
  left: auto;
  width: auto;
  height: auto;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2.4rem;
  flex-flow: column;
  background-color: #000;
  padding: 3.2rem 1.6rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
@media (max-width: 1200px) {
  .social__icons {
    display: none;
  }
}

.arrow__up {
  position: fixed;
  top: auto;
  right: 2rem;
  bottom: 2rem;
  left: auto;
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  text-align: center;
  background-color: #FF1500;
  color: #fff;
  border: 0.2rem solid #FF1500;
  transform: translateX(20rem);
  cursor: pointer;
  z-index: 1;
}
.arrow__up:hover {
  background: transparent;
  color: #FF1500;
}
.arrow__up.active {
  transform: translateX(0);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  flex-flow: row nowrap;
  box-shadow: 0 0 4.53rem -0.3rem rgba(255, 255, 255, 0.09);
  padding: 7rem 5rem;
  border-radius: 3.2rem;
  margin: 7.5rem auto;
  background: linear-gradient(252.95deg, #151617 58.44%, #ff1500 138.17%, #ffffff 157.45%);
}
@media (max-width: 1200px) {
  .form {
    padding: 7rem 1.6rem;
    flex-direction: column;
    align-items: stretch;
    background: linear-gradient(320.68deg, #151617 54.97%, #ff1500 144.13%, #ffffff 165.69%);
  }
}
.form__text-block, .form__form-block {
  flex: 1;
}
@media (max-width: 1200px) {
  .form__text-block, .form__form-block {
    text-align: center;
  }
}
.form__title {
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 2.4rem 0.5rem;
}
@media (max-width: 1200px) {
  .form__title {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .form__title {
    font-size: 3rem;
  }
}
.form__text {
  color: rgb(230, 230, 230);
  width: 40rem;
  margin-bottom: 4rem;
  font-weight: 300;
}
@media (max-width: 1200px) {
  .form__text {
    margin: 0 auto 3rem;
  }
}
@media (max-width: 576px) {
  .form__text {
    width: 100%;
    margin-bottom: 5rem;
  }
}
.form__link {
  display: block;
  font-weight: 500;
}
.form__link:not(:last-child) {
  margin-bottom: 1.6rem;
}
.form__link span {
  margin-right: 1rem;
}
.form__link:hover {
  text-decoration: underline;
  color: #fff;
}
.form__form-block {
  color: #000;
}
@media (max-width: 1200px) {
  .form__form-block {
    padding: 0 2rem;
  }
}
@media (max-width: 576px) {
  .form__form-block {
    margin-top: 3rem;
  }
}
@media (max-width: 360px) {
  .form__form-block {
    padding: 0;
  }
}
.form__box:not(:last-child) {
  margin-bottom: 1.6rem;
}
.form__label {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
  display: block;
  margin-bottom: 1rem;
}
@media (max-width: 1200px) {
  .form__label {
    text-align: center;
  }
}
.form__input {
  background: rgb(247, 248, 255);
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  padding: 1.6rem;
  font-size: 1.5rem;
}
.form__input::placeholder {
  text-transform: capitalize;
  font-size: 1.5rem;
}
@media (max-width: 576px) {
  .form__input::placeholder {
    font-weight: 300;
  }
}
.form__textarea {
  width: 100%;
  height: 9rem;
  font-family: "Inter", serif;
  padding: 1.6rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  resize: none;
}
.form__textarea::placeholder {
  text-transform: capitalize;
  font-family: "Inter", serif;
  font-size: 1.5rem;
}
@media (max-width: 576px) {
  .form__textarea::placeholder {
    font-weight: 400;
  }
}
.form__btn {
  font-family: "Inter", serif;
  text-transform: uppercase;
}

.numb-counters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-flow: row wrap;
  position: relative;
  scroll-margin-top: 10rem;
}
@media (max-width: 992px) {
  .numb-counters {
    row-gap: 6rem;
  }
}
@media (max-width: 576px) {
  .numb-counters {
    scroll-margin-top: 8rem;
  }
}
.numb-counters__item {
  flex-basis: 20%;
}
@media (max-width: 992px) {
  .numb-counters__item {
    flex-basis: 45%;
  }
}
.numb-counters__number {
  font-size: 4.4rem;
  color: #FF1500;
  text-align: center;
  font-weight: 700;
}
@media (max-width: 576px) {
  .numb-counters__number {
    font-size: 3.6rem;
  }
}
.numb-counters__name {
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .numb-counters__name {
    width: 10rem;
    margin: auto;
  }
}

.nav {
  position: fixed;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-flow: row nowrap;
  background: transparent;
  padding: 2.4rem 6.4rem;
  z-index: 1;
}
@media (max-width: 576px) {
  .nav {
    padding: 0 3.2rem;
  }
}
.nav.scrolled {
  background-color: #000;
}
@media (max-width: 1200px) {
  .nav__logo {
    margin-inline-start: auto;
  }
}
.nav__logo-desktop {
  width: 20rem;
}
@media (max-width: 1200px) {
  .nav__logo-desktop {
    display: none;
  }
}
.nav__logo-mobile {
  display: none;
}
@media (max-width: 1200px) {
  .nav__logo-mobile {
    width: 8rem;
    display: block;
  }
}
.nav__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3.2rem;
  flex-flow: row nowrap;
}
@media (max-width: 1200px) {
  .nav__list {
    display: none;
  }
}
.nav__link {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.nav__link:not(.nav__link--btn) {
  font-weight: 500;
}
.nav__link:not(.nav__link--btn).active {
  color: #FF1500;
}
.nav__hamburger {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  flex-flow: column;
  width: 4rem;
  height: 3rem;
  cursor: pointer;
  display: none;
}
.nav__hamburger .line {
  width: 100%;
  height: 0.3rem;
  background-color: #fff;
}
.nav__hamburger .line:nth-child(2) {
  width: 80%;
}
@media (max-width: 1200px) {
  .nav__hamburger {
    display: flex;
  }
}
@media (max-width: 576px) {
  .nav__hamburger {
    width: 3rem;
    height: 2rem;
  }
}
.nav .mobile-menu {
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  width: 65%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  flex-flow: column;
  background-color: #151617;
  transform: translateX(-100%);
  padding: 0 1.6rem;
}
.nav .mobile-menu #close {
  position: fixed;
  top: 3rem;
  right: 2rem;
  bottom: auto;
  left: auto;
  width: auto;
  height: auto;
  color: #fff;
  font-size: 3.2rem;
  cursor: pointer;
}
.nav .mobile-menu__list {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  flex-flow: column;
}
.nav .mobile-menu__link {
  font-weight: 700;
  text-transform: uppercase;
}
.nav .mobile-menu__link.active {
  color: #FF1500;
}
.nav .mobile-menu__text {
  font-size: 1.4rem;
  margin-top: 2.4rem;
  text-align: center;
}
.nav .mobile-menu__text span {
  color: #FF1500;
}
.nav .mobile-menu__icons {
  display: flex;
  gap: 3.2rem;
}
.nav .mobile-menu__icons a {
  font-size: 1.8rem;
}
.nav #nav-toggle:checked ~ .mobile-menu {
  transform: translateX(0);
}

.header {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
}
.header__side-bg.home {
  flex: 1.5;
}
.header__side-bg.projects, .header__side-bg.about, .header__side-bg.blog {
  display: none;
}
.header__side-bg.services {
  flex: 1.3;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.7) 58.49%, rgba(255, 21, 0, 0.7) 194.03%);
}
@media (max-width: 1200px) {
  .header__side-bg {
    display: none;
  }
}
.header__side-imgs.home {
  flex: 3;
  display: flex;
}
@media (max-width: 1200px) {
  .header__side-imgs.home {
    flex-direction: column;
  }
}
.header__side-imgs.home .header-img {
  flex: 1;
  padding-left: 6rem;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  gap: 0;
  flex-flow: column;
}
.header__side-imgs.home .header-img__number {
  font-family: "Noto Nastaliq Urdu", serif;
}
.header__side-imgs.home .header-img__number::before {
  display: block;
  content: "";
  height: 7.5rem;
  width: 100%;
  border-left: 0.1rem solid #fff;
  margin-bottom: 1.6rem;
}
.header__side-imgs.home .header-img__title {
  font-size: 2.8rem;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  max-width: 20rem;
  margin: 2rem 0 7rem;
}
@media (max-width: 1200px) {
  .header__side-imgs.home .header-img__number, .header__side-imgs.home .header-img__title {
    display: none;
  }
}
.header__side-imgs.home .header-img.img-one {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/img/toy-house.webp") no-repeat center;
  background-size: cover;
}
@media (max-width: 1200px) {
  .header__side-imgs.home .header-img.img-one {
    background-position: bottom;
  }
}
.header__side-imgs.home .header-img.img-two {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/img/woman-standing.webp") no-repeat center;
  background-size: cover;
}
.header__side-imgs.home .header-img.img-three {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/img/technician.jpg") no-repeat center;
  background-size: cover;
}
.header__side-imgs.projects {
  flex: 1;
  clip-path: polygon(0 1%, 100% 0%, 100% 75%, 0 100%);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/img/projects-main.jpg") no-repeat center;
  background-size: cover;
}
@media (max-width: 992px) {
  .header__side-imgs.projects {
    clip-path: unset;
  }
}
.header__side-imgs.projects .triangle-block {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: auto;
  width: 100%;
  height: auto;
}
@media (max-width: 992px) {
  .header__side-imgs.projects .triangle-block {
    display: none;
  }
}
.header__side-imgs.projects .triangle-block--one {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: -22rem;
  width: 50rem;
  height: 38rem;
  clip-path: polygon(49% 0, 0% 100%, 100% 100%);
  background: rgba(255, 255, 255, 0.16);
}
.header__side-imgs.projects .triangle-block--two {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 10rem;
  width: 50rem;
  height: 60rem;
  clip-path: polygon(49% 0, 0% 100%, 100% 100%);
  background: rgba(0, 0, 0, 0.16);
}
.header__side-imgs.projects .triangle-block--three {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 30rem;
  width: 55rem;
  height: 45rem;
  clip-path: polygon(74% 3%, 0% 100%, 100% 100%);
  background: rgba(255, 21, 0, 0.16);
}
.header__side-imgs.services {
  flex: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/img/services-main.webp") no-repeat left center;
  background-size: cover;
}
@media (max-width: 1200px) {
  .header__side-imgs.services {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 38.75%, rgba(255, 21, 0, 0.8) 753.46%), url("../../assets/img/services-main.webp") no-repeat left center;
    background-size: cover;
  }
}
.header__side-imgs.about {
  flex: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("../../assets/img/about-main.jpg") no-repeat center;
  background-size: cover;
}
.header__side-imgs.blog {
  flex: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/img/blog-main.jpg") no-repeat center;
  background-size: cover;
}
.header__text-block {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  width: 80%;
  height: auto;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 0;
  flex-flow: column;
}
@media (max-width: 1200px) {
  .header__text-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-flow: column;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .header__text-block {
    width: 90%;
  }
}
.header__text-block__title {
  font-size: 5.6rem;
  text-transform: uppercase;
  white-space: wrap;
}
@media (max-width: 1200px) {
  .header__text-block__title {
    font-size: 3.2rem;
  }
}
@media (max-width: 450px) {
  .header__text-block__title {
    font-size: 2.8rem;
  }
}
.header__text-block__text {
  font-weight: 300;
  margin: 4rem 0 4.8rem;
}
.header__text-block__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  flex-flow: row nowrap;
}
@media (max-width: 1200px) {
  .header__text-block__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    flex-flow: column;
  }
}
@media (max-width: 1200px) {
  .header__text-block__btns.home {
    gap: 2rem;
  }
}
.header__text-block__btns.home .btn-outline {
  display: none;
}
@media (max-width: 1200px) {
  .header__text-block__btns.home .btn-outline {
    display: inline-block;
  }
}
.header__text-block.blog {
  align-items: center;
  text-align: center;
}
.header #arrow {
  display: none;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 4rem;
  left: 50%;
  width: auto;
  height: auto;
  transform: translateX(-50%);
  color: #FF1500;
  font-size: 3.2rem;
  animation: arrow-down-bouncing 1.5s infinite;
}
@media (max-width: 992px) {
  .header #arrow {
    display: block;
  }
}

.qa__title {
  font-size: 3.2rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
@media (max-width: 992px) {
  .qa__title {
    font-size: 2.4rem;
    max-width: 25rem;
    margin: auto;
  }
}
.qa__collapsable {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1.6rem;
  flex-flow: row wrap;
  margin-top: 4.8rem;
  padding: 3.2rem;
  background-color: #000;
  border-radius: 1.6rem;
}
@media (max-width: 768px) {
  .qa__collapsable {
    padding: 1.6rem;
  }
}
.qa__item {
  flex-basis: 47%;
  padding: 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .qa__item {
    flex-basis: 100%;
  }
}
.qa__item.active {
  background-color: #fff;
  color: #000;
}
.qa__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-flow: row nowrap;
}
@media (max-width: 576px) {
  .qa__header {
    font-size: 1.4rem;
  }
}
.qa__header i {
  font-size: 1.5rem;
}
.qa__header i.active {
  transform: rotate(90deg);
  color: #000;
}
.qa__body {
  max-height: 0;
  overflow: hidden;
  font-size: 1.4rem;
  font-weight: 300;
}
.qa__body.active {
  border-top: 0.1rem solid rgb(241, 241, 241);
  max-height: 20rem;
  padding-top: 2rem;
}

.blog-section {
  scroll-margin-top: 7.5rem;
}
.blog-section__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 3.2rem;
  flex-flow: row wrap;
  margin-top: 4.5rem;
  row-gap: 15rem;
}
@media (max-width: 576px) {
  .blog-section__wrapper {
    row-gap: 10rem;
  }
}
.blog-section__item {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  gap: 1.6rem;
  flex-flow: column;
  flex-basis: 30%;
}
@media (max-width: 1200px) {
  .blog-section__item {
    flex-basis: 45%;
  }
}
@media (max-width: 768px) {
  .blog-section__item {
    flex-basis: 100%;
  }
}
.blog-section__img {
  display: block;
  height: 25rem;
}
.blog-section__img img {
  width: 100%;
  height: 100%;
}
.blog-section__title {
  font-weight: 500;
  font-size: 2.2rem;
  display: block;
  margin-bottom: auto;
}
@media (max-width: 768px) {
  .blog-section__title {
    font-size: 1.5rem;
  }
}
.blog-section__date {
  margin-top: 0.8rem;
}
.blog-section__date i {
  font-size: 1.4rem;
}
.blog-section__date span {
  font-weight: 300;
  font-size: 1rem;
  color: rgb(141, 141, 141);
}
.blog-section__text {
  color: rgb(197, 197, 197);
  text-align: justify;
  line-height: 1.8rem;
  font-size: 1.1rem;
}
.blog-section__link {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration-line: underline;
  text-decoration-color: #FF1500;
  text-underline-offset: 0.5rem;
}

.projects-section {
  position: relative;
}
.projects-section__header {
  text-align: center;
}
.projects-section__header__title {
  color: #FF1500;
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
.projects-section__header__subtitle {
  font-weight: 700;
  font-size: 3.2rem;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .projects-section__header__subtitle {
    width: 35rem;
    margin: 1.6rem auto 0;
  }
}
@media (max-width: 576px) {
  .projects-section__header__subtitle {
    width: 100%;
  }
}
.projects-section__header__text {
  max-width: 90rem;
  margin: 2.4rem auto 0;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.8;
}
@media (max-width: 768px) {
  .projects-section__header__text {
    width: 30rem;
  }
}
@media (max-width: 400px) {
  .projects-section__header__text {
    width: 100%;
  }
}
.projects-section__header span {
  color: #FF1500;
}
.projects-section__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  flex-flow: row wrap;
  margin: 4.8rem 0;
  row-gap: 3.2rem;
}
.projects-section__item {
  flex-basis: 30%;
  position: relative;
  overflow: hidden;
  height: 20rem;
}
@media (max-width: 1200px) {
  .projects-section__item {
    flex-basis: 47%;
  }
}
@media (max-width: 768px) {
  .projects-section__item {
    flex-basis: 100%;
    height: 30rem;
  }
}
@media (max-width: 768px) {
  .projects-section__item--hidden {
    display: none;
  }
}
.projects-section__item:hover > .projects-section__overlay {
  opacity: 1;
}
.projects-section__item img {
  height: 100%;
  width: 100%;
}
.projects-section__overlay {
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: auto;
  height: auto;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-flow: column;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.projects-section__name {
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}
.projects-section__location {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
.projects-section__btn {
  text-align: center;
}
.projects-section__hammer {
  position: absolute;
  top: auto;
  right: -12rem;
  bottom: -10rem;
  left: auto;
  width: 25rem;
  height: auto;
}
@media (max-width: 1200px) {
  .projects-section__hammer {
    display: none;
  }
}

.footer {
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  position: relative;
  padding: 6.4rem 0;
  margin-top: 6.4rem;
  background: linear-gradient(180deg, #000000 0%, #aa0e00 661.48%);
}
@media (max-width: 992px) {
  .footer {
    background: #000;
    border-top: 0.2rem solid #FF1500;
    border-radius: 0;
    padding-bottom: 0;
    padding-top: 4rem;
  }
}
.footer__wrapper, .footer__copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-flow: row nowrap;
}
@media (max-width: 992px) {
  .footer__wrapper, .footer__copy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-flow: column;
    text-align: center;
  }
}
.footer__wrapper .footer__social {
  display: none;
  margin-top: 4.8rem;
}
@media (max-width: 992px) {
  .footer__wrapper .footer__social {
    display: block;
  }
}
.footer__wrapper .footer__social a {
  box-shadow: 0px 0px 2.218rem 0px rgba(255, 255, 255, 0.2);
  font-size: 2rem;
}
.footer__wrapper .footer__social a:not(:last-child) {
  margin-right: 3rem;
}
.footer__wrapper .footer__social a:hover {
  color: #FF1500;
}
.footer__item--right {
  text-align: right;
}
@media (max-width: 992px) {
  .footer__item--right {
    text-align: center;
  }
}
.footer__logo-desktop {
  width: 25rem;
  height: 6.5rem;
}
@media (max-width: 992px) {
  .footer__logo-desktop {
    display: none;
  }
}
.footer__logo-mobile {
  display: none;
  width: 10rem;
  margin: auto;
}
@media (max-width: 992px) {
  .footer__logo-mobile {
    display: block;
  }
}
.footer__p {
  margin-top: 2.4rem;
  font-size: 1.4rem;
  max-width: 35rem;
  font-weight: 300;
}
@media (max-width: 992px) {
  .footer__p {
    display: none;
  }
}
.footer__menu {
  display: flex;
  gap: 1.6rem;
  margin-top: 3.2rem;
}
@media (max-width: 992px) {
  .footer__menu {
    flex-direction: column;
    margin-top: 1.6rem;
  }
}
.footer__menu a {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.footer__menu a:hover {
  color: #FF1500;
}
.footer__heading {
  font-size: 2.6rem;
  font-weight: 500;
  color: #fff;
  text-transform: none;
  text-align: right;
  margin-bottom: 2.4rem;
  max-width: 35.5rem;
}
@media (max-width: 992px) {
  .footer__heading {
    font-size: 2rem;
    margin-top: 3.2rem;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .footer__heading {
    font-size: 1.6rem;
    font-weight: 400;
    max-width: 21rem;
  }
}
.footer__heading span {
  color: #FF1500;
}
.footer__btn {
  text-transform: uppercase;
}
.footer__copy {
  border-top: 0.1rem solid #fff;
  padding: 1.6rem 0;
  margin-top: 8rem;
}
@media (max-width: 992px) {
  .footer__copy {
    background-color: #151617;
    width: 100% !important;
    border-top: none;
    margin-top: 3.2rem;
  }
}
.footer__copyright {
  font-size: 1.4rem;
}
@media (max-width: 576px) {
  .footer__copyright {
    font-size: 1rem;
  }
}

.projects {
  position: relative;
  scroll-margin-top: 10rem;
}
@media (max-width: 576px) {
  .projects {
    scroll-margin-top: 8rem;
  }
}
.projects__text-block {
  text-align: right;
}
@media (max-width: 992px) {
  .projects__text-block {
    text-align: center;
  }
}
.projects__title {
  font-weight: 600;
  font-size: 4.2rem;
  margin-bottom: 2rem;
}
@media (max-width: 992px) {
  .projects__title {
    font-size: 3.2rem;
    max-width: 25rem;
    margin: 0 auto 2rem;
  }
}
.projects__text {
  font-weight: 300;
  max-width: 87rem;
  margin-left: auto;
}
@media (max-width: 992px) {
  .projects__text {
    margin: auto;
    max-width: 28rem;
  }
}
.projects__gallery {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  flex-flow: row wrap;
  row-gap: 15rem;
  margin-top: 8rem;
}
@media (max-width: 1200px) {
  .projects__gallery {
    row-gap: 7rem;
  }
}
.projects__item {
  flex-basis: 30%;
}
@media (max-width: 1200px) {
  .projects__item {
    flex-basis: 45%;
  }
}
@media (max-width: 768px) {
  .projects__item {
    flex-basis: 100%;
  }
}
@media (max-width: 768px) {
  .projects__item.hidden {
    display: none;
  }
}
.projects__name {
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .projects__name {
    text-align: center;
  }
}
.projects__name span {
  color: #FF1500;
}
.projects__imgs {
  position: relative;
  overflow: hidden;
}
.projects__slides {
  display: flex;
}
.projects__slides img {
  width: 100%;
  flex-shrink: 0;
}
.projects__arrow {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: auto;
  width: auto;
  height: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid #fff;
  cursor: pointer;
}
.projects__arrow:hover {
  color: #FF1500;
  border-color: #FF1500;
}
.projects__arrow--right {
  right: 1rem;
}
.projects__arrow--left {
  left: 1rem;
}
.projects__labels {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0.9rem;
  flex-flow: row wrap;
  margin-top: 2rem;
}
@media (max-width: 1200px) {
  .projects__labels {
    justify-content: center;
  }
}
.projects__label {
  text-transform: capitalize;
  font-size: 1.3rem;
  border-radius: 5rem;
  padding: 1rem 1.6rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
}
.projects--btn {
  margin: 3.2rem auto 0;
  display: none;
}
@media (max-width: 768px) {
  .projects--btn {
    display: block;
  }
}
.projects__color {
  position: absolute;
  top: 45%;
  right: 0;
  bottom: auto;
  left: auto;
  width: 20rem;
  height: auto;
}
@media (max-width: 1200px) {
  .projects__color {
    display: none;
  }
}

.vision {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  flex-flow: column;
  position: relative;
  margin: 9rem auto;
  background: linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)), url("../../assets/img/projects-vision.jpg") no-repeat center;
  background-size: cover;
  border-radius: 2rem;
  text-align: center;
  padding: 10rem 0;
}
@media (max-width: 1200px) {
  .vision {
    margin: 7rem auto;
  }
}
.vision__title {
  font-weight: 600;
  font-size: 3.6rem;
}
.vision__title span {
  color: #FF1500;
}
@media (max-width: 992px) {
  .vision__title {
    font-size: 2.6rem;
    width: 28rem;
  }
}
.vision__text {
  font-weight: 300;
}
@media (max-width: 992px) {
  .vision__text {
    width: 35rem;
  }
}
@media (max-width: 576px) {
  .vision__text {
    font-size: 1.4rem;
    max-width: 100%;
  }
}
.vision__img {
  opacity: 0.2;
  width: 39rem;
  margin: 2rem 0;
}
@media (max-width: 992px) {
  .vision__img {
    width: 20rem;
  }
}
.vision__brush {
  position: absolute;
  top: auto;
  right: auto;
  bottom: -34rem;
  left: -17rem;
  width: 30rem;
  height: auto;
  opacity: 0.2;
}
@media (max-width: 1200px) {
  .vision__brush {
    display: none;
  }
}

.hero-dots {
  position: absolute;
  top: 80%;
  right: 0;
  bottom: auto;
  left: auto;
  width: 12rem;
  height: 30.4rem;
  background: url("../../assets/img/projects icon.png") no-repeat left center;
  background-size: cover;
  z-index: 1;
}
@media (max-width: 992px) {
  .hero-dots {
    display: none;
  }
}

.services {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  flex-flow: row wrap;
  margin: 4.8rem auto 0;
}
@media (max-width: 768px) {
  .services {
    width: 90%;
  }
}
.services__item {
  flex-basis: 33%;
  padding: 3.2rem;
}
@media (max-width: 1200px) {
  .services__item {
    flex-basis: 50%;
  }
  .services__item:nth-child(1) {
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 4.8rem;
  }
  .services__item:nth-child(4) {
    order: 2;
  }
}
@media (max-width: 576px) {
  .services__item {
    padding: 3.2rem 1.6rem;
  }
}
@media (max-width: 430px) {
  .services__item {
    flex-basis: 100%;
  }
  .services__item:nth-child(4) {
    order: initial;
  }
}
.services__item__tel {
  font-weight: 300;
  color: #FF1500;
  text-transform: capitalize;
}
.services__item__img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-flow: row nowrap;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  box-shadow: 0 0 2.12rem 0.2rem rgba(0, 0, 0, 0.25);
  background: rgb(39, 39, 39);
}
.services__item svg {
  fill: #FF1500;
}
.services__item__title {
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  margin: 10rem 0 4rem;
}
@media (max-width: 1200px) {
  .services__item__title {
    font-size: 1.4rem;
    margin: 3.2rem 0 1.6rem;
  }
}
.services__item__text {
  font-size: 1.4rem;
  font-weight: 300;
  color: rgb(220, 220, 220);
}
@media (max-width: 1200px) {
  .services__item__text {
    font-size: 1.2rem;
  }
}
.services__item--bg {
  background-color: rgb(39, 39, 39);
}
.services__item--bg .services__img {
  box-shadow: 0 0 2.12rem 0.2rem rgba(0, 0, 0, 0.25);
}
.services__item:first-child .services__item__title {
  font-size: 4.5rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
.services__item:first-child .services__item__text {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  margin: 6rem 0 1.6rem;
  max-width: 35rem;
}
@media (max-width: 1200px) {
  .services__item:first-child .services__item__text {
    max-width: 30rem;
    margin: 3.2rem auto;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
}
@media (max-width: 1200px) {
  .info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 3rem;
    text-align: center;
  }
}
.info__item {
  flex-basis: 30%;
}
@media (max-width: 1200px) {
  .info__item {
    flex-basis: 80%;
  }
}
@media (max-width: 576px) {
  .info__item {
    flex-basis: 100%;
  }
}
.info__item .section-title {
  text-transform: uppercase;
  color: #FF1500;
  margin: 0 0 16px;
  font-size: 14px;
  font-weight: 600;
}
.info__item .section-subtitle {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .info__item .section-subtitle {
    width: 350px;
    margin: auto;
    margin-top: 16px;
  }
}
@media (max-width: 400px) {
  .info__item .section-subtitle {
    width: 100%;
  }
}
.info__item .info__p {
  text-align: left;
  line-height: 1.8;
  font-size: 1rem;
  font-weight: 300;
}
@media (max-width: 1200px) {
  .info__item .info__p {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .info__item .info__p {
    width: 300px;
    margin: auto;
  }
}
@media (max-width: 400px) {
  .info__item .info__p {
    width: 100%;
  }
}
.info__item--flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: row;
  flex-flow: 1rem;
  flex-basis: 20%;
  padding: 0 2rem;
  position: relative;
}
@media (max-width: 576px) {
  .info__item--flex {
    flex-basis: 300px;
    justify-content: center;
  }
}
.info__line {
  background: #fff;
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  opacity: 0.2;
  content: "";
}
.info .line-1 {
  top: 0;
  left: 0;
}
.info .line-2 {
  top: 0;
  right: 0;
}
.info .line-3 {
  bottom: 0;
  left: 0;
}
.info .line-4 {
  bottom: 0;
  right: 0;
}
.info .line-5 {
  top: 0;
  left: 0;
  height: 100%;
  bottom: 0;
  width: 3px;
}
.info .line-6 {
  top: 0;
  right: 0;
  height: 100%;
  bottom: 0;
  width: 3px;
}
.info__number {
  font-size: 78px;
  font-weight: 700;
  color: #FF1500;
}
@media (max-width: 576px) {
  .info__number {
    font-weight: 500;
    font-size: 68px;
  }
}
.info .section-header {
  text-align: left;
}
@media (max-width: 1200px) {
  .info .section-header {
    text-align: center;
  }
}

.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../../assets/img/about-services.jpg");
  background-size: cover;
  border-radius: 1.6rem;
  margin: 70 auto;
  scroll-margin-top: 18rem;
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-flow: row nowrap;
  margin-top: 4.8rem;
  padding: 0 6.4rem;
}
@media (max-width: 1200px) {
  .about__wrapper {
    flex-direction: column;
    row-gap: 4.8rem;
  }
}
.about__item {
  flex-basis: 30%;
  text-align: center;
}
@media (max-width: 1200px) {
  .about__item {
    flex-basis: 100%;
  }
}
.about__item svg {
  height: 3.5rem;
  width: 3.5rem;
}
.about__title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 1.6rem 0;
}
.about__text {
  font-size: 1.4rem;
  font-weight: 300;
  color: #fff;
  text-align: center;
  width: 25rem;
  margin: auto;
}
@media (max-width: 1200px) {
  .about__text {
    width: 30rem;
  }
}
@media (max-width: 400px) {
  .about__text {
    width: 100%;
  }
}

.contact {
  text-align: center;
  margin: 10rem 0;
  position: relative;
  scroll-margin-top: -10rem;
}
@media (max-width: 992px) {
  .contact {
    margin-bottom: 5rem;
    scroll-margin-top: -20rem;
  }
}
@media (max-width: 576px) {
  .contact {
    margin: 15rem 0 10rem;
    scroll-margin-top: -30rem;
  }
}
.contact__title {
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 1.6rem;
}
@media (max-width: 992px) {
  .contact__title {
    font-size: 3.2rem;
    text-transform: uppercase;
    width: 30rem;
    margin: auto;
  }
}
@media (max-width: 400px) {
  .contact__title {
    width: 100%;
    padding: 0 3rem;
  }
}
.contact__text {
  font-size: 1.8rem;
  color: rgb(207, 207, 207);
  margin: auto;
  max-width: 77rem;
}
@media (max-width: 992px) {
  .contact__text {
    font-size: 1.5rem;
    max-width: 30rem;
    margin-top: 2rem;
  }
}
@media (max-width: 400px) {
  .contact__text {
    width: 100%;
  }
}
.contact__bg-img {
  position: absolute;
  top: 2rem;
  right: auto;
  bottom: auto;
  left: -4.2rem;
  width: 30rem;
  height: auto;
  opacity: 0.05;
}
@media (max-width: 992px) {
  .contact__bg-img {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
