* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.4s linear;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
*::first-letter {
  text-transform: uppercase;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  background-color: #000;
  color: #FFF;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bentham", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

section {
  padding: 7rem 0;
}
@media (max-width: 992px) {
  section {
    padding: 5rem 0;
  }
}

.container {
  width: 70%;
  margin: auto;
}
@media (max-width: 992px) {
  .container {
    width: 80%;
  }
}

.btn, .btn-tertiary, .btn-secondary, .btn-primary {
  display: inline-block;
  width: max-content;
  background: transparent;
  border: 0.1rem solid #C49C94;
  color: #C49C94;
  padding: 0.8rem 4rem;
  font-size: 1.6rem;
  letter-spacing: 1.5;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 568px) {
  .btn, .btn-tertiary, .btn-secondary, .btn-primary {
    width: 100%;
    max-width: 16.3rem;
  }
}
.btn-primary {
  background-color: #C49C94;
  color: #FFF;
}
.btn-primary:hover {
  background-color: inherit;
}
/* --------------------------------------------
    Header section
-------------------------------------------- */
.header {
  height: 100vh;
  padding: 0 6.4rem;
  position: relative;
  overflow: hidden;
}
.header .backgroundImg {
  background: url("../../assets/img/header.png");
  background-position: center;
  background-size: cover;
  transform: scale(1);
  animation: headerBackgroundImage 3s forwards;
  z-index: -1;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
}
.header .nav {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-flow: row nowrap;
}
@media (max-width: 1200px) {
  .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    flex-flow: row nowrap;
  }
}
.header .nav .hamburger {
  width: 3.6rem;
  height: 2.4rem;
  cursor: pointer;
  display: none;
}
@media (max-width: 1200px) {
  .header .nav .hamburger {
    display: block;
  }
}
.header .nav .hamburger__line {
  width: 100%;
  height: 0.4rem;
  background-color: #FFF;
}
.header .nav .hamburger__line:not(:last-child) {
  margin-bottom: 0.8rem;
}
.header .nav .hamburger__line--2 {
  width: 2.4rem;
}
.header .nav__list {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3.2rem;
  flex-flow: row;
}
@media (max-width: 1200px) {
  .header .nav__list {
    display: none;
  }
}
.header .nav__list__item label {
  cursor: pointer;
}
.header .nav__list .nav__dropdown {
  display: none;
  margin-top: 1rem;
  background-color: #C49C94;
  padding: 1.6rem 3.2rem;
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: -2rem;
  width: auto;
  height: auto;
}
.header .nav__list .nav__dropdown:before {
  content: "";
  background-color: #C49C94;
  transform: rotate(45deg);
  position: absolute;
  top: auto;
  right: auto;
  bottom: calc(100% - 0.5rem);
  left: 4rem;
  width: 1rem;
  height: 1rem;
}
.header .nav__list .nav__dropdown a {
  color: #FFF;
  display: block;
  text-align: center;
  border-bottom: 0.1rem solid #FFF;
  z-index: 100;
  position: relative;
  padding-bottom: 1.6rem;
}
.header .nav__list .nav__dropdown a:not(:first-child) {
  padding-top: 1.6rem;
}
@media (max-width: 1200px) {
  .header .nav__list .nav__dropdown a {
    border-bottom: none;
    text-align: left;
    padding-bottom: 0;
  }
}
.header .nav__list #nav-dropdown:checked ~ .nav__dropdown {
  display: block;
}
.header .nav__list #nav-dropdown:checked ~ label .rotate-arrow {
  transform: rotate(180deg);
}
.header .nav__list .nav__btn {
  position: relative;
  display: inline-block;
  width: max-content;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.15rem;
  cursor: pointer;
  border: 0.1rem solid #C49C94;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #C49C94;
  padding: 0.9rem 4.05rem;
}
@media (max-width: 568px) {
  .header .nav__list .nav__btn {
    font-size: 1.4rem;
    padding: 1rem 1.6rem;
  }
}
.header .nav__list .nav__btn span {
  position: absolute;
  background: #C49C94;
}
.header .nav__list .nav__btn .right,
.header .nav__list .nav__btn .bottom {
  bottom: 0;
  right: 0;
}
.header .nav__list .nav__btn .left,
.header .nav__list .nav__btn .top {
  top: 0;
  left: 0;
}
.header .nav__list .nav__btn .right,
.header .nav__list .nav__btn .left {
  width: 0.1rem;
  height: 0;
}
.header .nav__list .nav__btn .bottom,
.header .nav__list .nav__btn .top {
  height: 0.1rem;
  width: 0;
}
.header .nav__list .nav__btn:hover {
  background: transparent;
  border-color: transparent;
}
.header .nav__list .nav__btn:hover .top,
.header .nav__list .nav__btn:hover .bottom {
  width: 100%;
}
.header .nav__list .nav__btn:hover .right,
.header .nav__list .nav__btn:hover .left {
  height: 100%;
}
.header .nav__list .desktop {
  display: inline-block;
  position: relative;
}
.header .nav__list .desktop img {
  cursor: pointer;
  width: 3.2rem;
  height: 3.2rem;
}
.header .nav__list .desktop .dropdown {
  display: none;
  position: absolute;
}
.header .nav__list .desktop .dropdown img {
  margin-top: 1rem;
}
.header .nav__list .desktop #flag-dropdown:checked ~ .dropdown {
  display: block;
}
.header .nav .mobile {
  position: relative;
}
@media (min-width: 1201px) {
  .header .nav .mobile {
    display: none;
  }
}
@media (max-width: 1200px) {
  .header .nav .mobile {
    display: inline-block;
    cursor: pointer;
  }
  .header .nav .mobile .main-flag img {
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
  }
  .header .nav .mobile .dropdown {
    display: none;
    position: absolute;
  }
  .header .nav .mobile .dropdown img {
    margin-top: 1rem;
  }
  .header .nav .mobile #mobile-flag-dropdown:checked ~ .dropdown {
    display: block;
  }
}
@media (max-width: 1200px) {
  .header .nav__logo {
    width: 5rem;
    height: 5rem;
  }
}
.header .nav__link {
  font-size: 1.5rem;
  color: #FFF;
  position: relative;
  display: inline-block;
}
.header .nav__link::after {
  content: "";
  background-color: #FFF;
  transform: scaleX(0);
  transform-origin: left;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
}
.header .nav__link:hover:not(.header .nav__link--transform, .header .nav__link--dropdown)::after {
  animation: underlineLink 0.6s forwards;
}
.header .nav__link .phone-color {
  color: #C49C94;
}
.header .nav__link--transform {
  display: inline-block;
}
.header .nav__link--transform:hover {
  transform: scale(1.1);
}
.header .header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-flow: row;
  position: relative;
  text-align: center;
  color: #FFF;
  height: 80vh;
}
.header .header__content .line {
  position: absolute;
  bottom: 0;
  background-color: #C49C94;
}
@media (max-width: 1200px) {
  .header .header__content .line {
    display: none;
  }
}
.header .header__content .line.left-vertical {
  left: 0;
  width: 0.2rem;
  height: 0;
  animation: grow-vertical 3s forwards;
}
.header .header__content .line.bottom-left {
  left: 0;
  height: 0.2rem;
  width: 0;
  animation: grow-horizontal 3s forwards;
}
.header .header__content .line.right-vertical {
  right: 0;
  width: 0.2rem;
  height: 0;
  animation: grow-vertical 3s forwards;
}
.header .header__content .line.bottom-right {
  right: 0;
  height: 0.2rem;
  width: 0;
  animation: grow-horizontal 3s forwards;
}
.header .header__content .header__heading {
  font-family: "Urbanist", sans-serif;
  font-size: 11.2rem;
  line-height: 8rem;
  animation: headerHeading 2s forwards;
  font-weight: 700;
}
@media (max-width: 568px) {
  .header .header__content .header__heading {
    font-size: 8rem;
  }
}
.header .header__content .header__heading span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.1rem #FFF;
}
.header .header__arrow {
  width: 7rem;
  height: 7rem;
  position: absolute;
  top: auto;
  right: auto;
  bottom: -2.5rem;
  left: 50%;
  width: auto;
  height: auto;
  transform: translateX(-50%);
}
@media (max-width: 1200px) {
  .header .header__arrow {
    bottom: 0;
  }
}

/* --------------------------------------------
    Footer section
-------------------------------------------- */
.footer {
  background-color: #C49C94;
}
.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  flex-flow: row nowrap;
  padding: 7rem 15%;
  color: #FFF;
  width: 100%;
}
@media (max-width: 1200px) {
  .footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-flow: column;
    flex: 0 0 100%;
  }
  .footer__wrapper .hide {
    display: none;
  }
  .footer__wrapper .footer__heading {
    margin-bottom: 1.6rem;
    text-align: center;
  }
}
.footer__wrapper .footer__item {
  flex: 1;
  text-align: left;
}
.footer__wrapper .footer__item .footer__heading {
  font-family: inherit;
  font-weight: 700;
  margin: 0 0 3.2rem;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.footer__wrapper .footer__item .footer__list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  flex-flow: column nowrap;
}
@media (max-width: 1200px) {
  .footer__wrapper .footer__item .footer__list {
    text-align: center;
  }
}
.footer__wrapper .footer__item .footer__list__item {
  margin: 0 0 1.6rem;
  font-size: 1.5rem;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
}
.footer__wrapper .footer__item .footer__list__item:hover {
  transform: translateX(2.5rem);
}
.footer__wrapper .footer__item--first {
  flex: 2;
}
.footer__wrapper .footer__item--first .footer__logo {
  display: block;
}
.footer__wrapper .footer__item--first .footer__logo img {
  width: 9rem;
  height: 14rem;
}
.footer__wrapper .footer__item--first p {
  font-weight: 500;
  line-height: 2rem;
  text-transform: capitalize;
  margin: 0.5rem 0;
}
@media (max-width: 1200px) {
  .footer__wrapper .footer__item--first p {
    display: none;
  }
}
.footer__wrapper .footer__item--first .footer__btn {
  margin: 1.6rem 0;
  display: inline-block;
  width: max-content;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.15rem;
  cursor: pointer;
  border: 0.1rem solid #C49C94;
  color: #FFF;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #000;
  padding: 1rem 4.2rem;
}
@media (max-width: 568px) {
  .footer__wrapper .footer__item--first .footer__btn {
    font-size: 1.4rem;
    padding: 1rem 1.6rem;
  }
}
@media (max-width: 1200px) {
  .footer__wrapper .footer__item--first .footer__btn {
    display: none;
  }
}
.footer__wrapper .footer__item--first .footer__social a {
  color: #000;
  font-size: 1.6rem;
}
.footer__wrapper .footer__item--first .footer__social a:not(:last-child) {
  border-right: 0.2rem solid #000;
  padding-right: 1.6rem;
}
.footer__wrapper .footer__item--first .footer__social a:not(:first-child) {
  padding-left: 1.6rem;
}
@media (max-width: 1200px) {
  .footer__wrapper .footer__item--first .footer__social {
    display: none;
  }
}
.footer__wrapper .mobile {
  display: none;
}
@media (max-width: 1200px) {
  .footer__wrapper .mobile {
    display: block;
    text-align: center;
  }
  .footer__wrapper .mobile .mobile__text {
    font-weight: 500;
    line-height: 2rem;
    text-transform: capitalize;
    margin: 0.5rem 0;
  }
  .footer__wrapper .mobile .mobile__btn {
    margin: 1.6rem 0;
    display: inline-block;
    width: max-content;
    white-space: nowrap;
    text-align: center;
    letter-spacing: 0.15rem;
    cursor: pointer;
    border: 0.1rem solid #C49C94;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: #000;
    padding: 1.1rem 3.85rem;
  }
}
@media (max-width: 1200px) and (max-width: 568px) {
  .footer__wrapper .mobile .mobile__btn {
    font-size: 1.4rem;
    padding: 1rem 1.6rem;
  }
}
@media (max-width: 1200px) {
  .footer__wrapper .mobile .mobile__social a {
    color: #000;
    font-size: 1.6rem;
  }
  .footer__wrapper .mobile .mobile__social a:not(:last-child) {
    border-right: 0.2rem solid #000;
    padding-right: 1.6rem;
  }
  .footer__wrapper .mobile .mobile__social a:not(:first-child) {
    padding-left: 1.6rem;
  }
}
.footer__copy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-flow: column;
  height: 7rem;
  background-color: #000;
  color: #FFF;
}
.footer__copy p {
  font-size: 1.2rem;
  font-weight: 500;
}
.footer__copy p .copy--img {
  font-size: 0.8rem;
  font-weight: 500;
  vertical-align: middle;
}
.footer__copy p a {
  font-size: 1.2rem;
  font-weight: 500;
  color: #FFF;
  text-decoration: underline;
}
.footer__copy div {
  font-size: 1rem;
  font-weight: 400;
}
.footer__copy div a {
  color: #FFF;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
