* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.4s linear;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
*::first-letter {
  text-transform: uppercase;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", serif;
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: #151617;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

section {
  padding: 9rem 0;
}
@media (max-width: 576px) {
  section {
    padding: 7rem 0;
  }
}

a:hover {
  color: #FF1500;
}

.container {
  width: 80%;
  margin: auto;
}
@media (max-width: 576px) {
  .container {
    width: 90%;
  }
}

footer-component {
  margin-top: auto;
}

.btn, .btn-outline, .btn-primary {
  display: inline-block;
  min-width: 17rem;
  background: transparent;
  border: 0.2rem solid #FF1500;
  color: #fff;
  padding: 1.2rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  border-radius: 4rem;
  cursor: pointer;
}
@media (max-width: 568px) {
  .btn, .btn-outline, .btn-primary {
    width: 100%;
    max-width: 16.3rem;
  }
}
.btn-primary {
  background-color: #FF1500;
}
.btn-primary:hover i {
  color: #FF1500;
}
.btn-primary:hover {
  background: transparent;
}
.btn-outline {
  background: transparent;
}
.btn-outline:hover {
  background-color: #FF1500;
}

.nav {
  position: fixed;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-flow: row nowrap;
  background: transparent;
  padding: 2.4rem 6.4rem;
}
@media (max-width: 576px) {
  .nav {
    padding: 0 3.2rem;
  }
}
.nav.scrolled {
  background-color: #000;
}
@media (max-width: 1200px) {
  .nav__logo {
    margin-inline-start: auto;
  }
}
.nav__logo-desktop {
  width: 20rem;
}
@media (max-width: 1200px) {
  .nav__logo-desktop {
    display: none;
  }
}
.nav__logo-mobile {
  display: none;
}
@media (max-width: 1200px) {
  .nav__logo-mobile {
    width: 8rem;
    display: block;
  }
}
.nav__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3.2rem;
  flex-flow: row nowrap;
}
@media (max-width: 1200px) {
  .nav__list {
    display: none;
  }
}
.nav__link {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.nav__link:not(.nav__link--btn) {
  font-weight: 500;
}
.nav__link:not(.nav__link--btn).active {
  color: #FF1500;
}
.nav__hamburger {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  flex-flow: column;
  width: 4rem;
  height: 3rem;
  cursor: pointer;
  display: none;
}
.nav__hamburger .line {
  width: 100%;
  height: 0.3rem;
  background-color: #fff;
}
.nav__hamburger .line:nth-child(2) {
  width: 80%;
}
@media (max-width: 1200px) {
  .nav__hamburger {
    display: flex;
  }
}
@media (max-width: 576px) {
  .nav__hamburger {
    width: 3rem;
    height: 2rem;
  }
}
.nav .mobile-menu {
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  width: 65%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  flex-flow: column;
  background-color: #151617;
  transform: translateX(-100%);
  padding: 0 1.6rem;
}
.nav .mobile-menu #close {
  position: fixed;
  top: 3rem;
  right: 2rem;
  bottom: auto;
  left: auto;
  width: auto;
  height: auto;
  color: #fff;
  font-size: 3.2rem;
  cursor: pointer;
}
.nav .mobile-menu__list {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  flex-flow: column;
}
.nav .mobile-menu__link {
  font-weight: 700;
  text-transform: uppercase;
}
.nav .mobile-menu__link.active {
  color: #FF1500;
}
.nav .mobile-menu__text {
  font-size: 1.4rem;
  margin-top: 2.4rem;
  text-align: center;
}
.nav .mobile-menu__text span {
  color: #FF1500;
}
.nav .mobile-menu__icons {
  display: flex;
  gap: 3.2rem;
}
.nav .mobile-menu__icons a {
  font-size: 1.8rem;
}
.nav #nav-toggle:checked ~ .mobile-menu {
  transform: translateX(0);
}

/* --------------------------------------------
    Header section
-------------------------------------------- */
.header {
  height: 100vh;
  padding: 0 6.4rem;
  position: relative;
  overflow: hidden;
}
.header .backgroundImg {
  background: url("../../assets/img/header.png");
  background-position: center;
  background-size: cover;
  transform: scale(1);
  animation: headerBackgroundImage 3s forwards;
  z-index: -1;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
}
.header .nav {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-flow: row nowrap;
}
@media (max-width: 1200px) {
  .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    flex-flow: row nowrap;
  }
}
.header .nav .hamburger {
  width: 3.6rem;
  height: 2.4rem;
  cursor: pointer;
  display: none;
}
@media (max-width: 1200px) {
  .header .nav .hamburger {
    display: block;
  }
}
.header .nav .hamburger__line {
  width: 100%;
  height: 0.4rem;
  background-color: #151617;
}
.header .nav .hamburger__line:not(:last-child) {
  margin-bottom: 0.8rem;
}
.header .nav .hamburger__line--2 {
  width: 2.4rem;
}
.header .nav__list {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3.2rem;
  flex-flow: row;
}
@media (max-width: 1200px) {
  .header .nav__list {
    display: none;
  }
}
.header .nav__list__item label {
  cursor: pointer;
}
.header .nav__list .nav__dropdown {
  display: none;
  margin-top: 1rem;
  background-color: #FF1500;
  padding: 1.6rem 3.2rem;
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: -2rem;
  width: auto;
  height: auto;
}
.header .nav__list .nav__dropdown:before {
  content: "";
  background-color: #FF1500;
  transform: rotate(45deg);
  position: absolute;
  top: auto;
  right: auto;
  bottom: calc(100% - 0.5rem);
  left: 4rem;
  width: 1rem;
  height: 1rem;
}
.header .nav__list .nav__dropdown a {
  color: #151617;
  display: block;
  text-align: center;
  border-bottom: 0.1rem solid #151617;
  z-index: 100;
  position: relative;
  padding-bottom: 1.6rem;
}
.header .nav__list .nav__dropdown a:not(:first-child) {
  padding-top: 1.6rem;
}
@media (max-width: 1200px) {
  .header .nav__list .nav__dropdown a {
    border-bottom: none;
    text-align: left;
    padding-bottom: 0;
  }
}
.header .nav__list #nav-dropdown:checked ~ .nav__dropdown {
  display: block;
}
.header .nav__list #nav-dropdown:checked ~ label .rotate-arrow {
  transform: rotate(180deg);
}
.header .nav__list .nav__btn {
  position: relative;
  display: inline-block;
  width: max-content;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.15rem;
  cursor: pointer;
  border: 0.1rem solid #FF1500;
  color: #151617;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #FF1500;
  padding: 0.9rem 4.05rem;
}
@media (max-width: 568px) {
  .header .nav__list .nav__btn {
    font-size: 1.4rem;
    padding: 1rem 1.6rem;
  }
}
.header .nav__list .nav__btn span {
  position: absolute;
  background: #FF1500;
}
.header .nav__list .nav__btn .right,
.header .nav__list .nav__btn .bottom {
  bottom: 0;
  right: 0;
}
.header .nav__list .nav__btn .left,
.header .nav__list .nav__btn .top {
  top: 0;
  left: 0;
}
.header .nav__list .nav__btn .right,
.header .nav__list .nav__btn .left {
  width: 0.1rem;
  height: 0;
}
.header .nav__list .nav__btn .bottom,
.header .nav__list .nav__btn .top {
  height: 0.1rem;
  width: 0;
}
.header .nav__list .nav__btn:hover {
  background: transparent;
  border-color: transparent;
}
.header .nav__list .nav__btn:hover .top,
.header .nav__list .nav__btn:hover .bottom {
  width: 100%;
}
.header .nav__list .nav__btn:hover .right,
.header .nav__list .nav__btn:hover .left {
  height: 100%;
}
.header .nav__list .desktop {
  display: inline-block;
  position: relative;
}
.header .nav__list .desktop img {
  cursor: pointer;
  width: 3.2rem;
  height: 3.2rem;
}
.header .nav__list .desktop .dropdown {
  display: none;
  position: absolute;
}
.header .nav__list .desktop .dropdown img {
  margin-top: 1rem;
}
.header .nav__list .desktop #flag-dropdown:checked ~ .dropdown {
  display: block;
}
.header .nav .mobile {
  position: relative;
}
@media (min-width: 1201px) {
  .header .nav .mobile {
    display: none;
  }
}
@media (max-width: 1200px) {
  .header .nav .mobile {
    display: inline-block;
    cursor: pointer;
  }
  .header .nav .mobile .main-flag img {
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
  }
  .header .nav .mobile .dropdown {
    display: none;
    position: absolute;
  }
  .header .nav .mobile .dropdown img {
    margin-top: 1rem;
  }
  .header .nav .mobile #mobile-flag-dropdown:checked ~ .dropdown {
    display: block;
  }
}
@media (max-width: 1200px) {
  .header .nav__logo {
    width: 5rem;
    height: 5rem;
  }
}
.header .nav__link {
  font-size: 1.5rem;
  color: #151617;
  position: relative;
  display: inline-block;
}
.header .nav__link::after {
  content: "";
  background-color: #151617;
  transform: scaleX(0);
  transform-origin: left;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
}
.header .nav__link:hover:not(.header .nav__link--transform, .header .nav__link--dropdown)::after {
  animation: underlineLink 0.6s forwards;
}
.header .nav__link .phone-color {
  color: #FF1500;
}
.header .nav__link--transform {
  display: inline-block;
}
.header .nav__link--transform:hover {
  transform: scale(1.1);
}
.header .header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-flow: row;
  position: relative;
  text-align: center;
  color: #151617;
  height: 80vh;
}
.header .header__content .line {
  position: absolute;
  bottom: 0;
  background-color: #FF1500;
}
@media (max-width: 1200px) {
  .header .header__content .line {
    display: none;
  }
}
.header .header__content .line.left-vertical {
  left: 0;
  width: 0.2rem;
  height: 0;
  animation: grow-vertical 3s forwards;
}
.header .header__content .line.bottom-left {
  left: 0;
  height: 0.2rem;
  width: 0;
  animation: grow-horizontal 3s forwards;
}
.header .header__content .line.right-vertical {
  right: 0;
  width: 0.2rem;
  height: 0;
  animation: grow-vertical 3s forwards;
}
.header .header__content .line.bottom-right {
  right: 0;
  height: 0.2rem;
  width: 0;
  animation: grow-horizontal 3s forwards;
}
.header .header__content .header__heading {
  font-family: "Urbanist", sans-serif;
  font-size: 11.2rem;
  line-height: 8rem;
  animation: headerHeading 2s forwards;
  font-weight: 700;
}
@media (max-width: 568px) {
  .header .header__content .header__heading {
    font-size: 8rem;
  }
}
.header .header__content .header__heading span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.1rem #151617;
}
.header .header__arrow {
  width: 7rem;
  height: 7rem;
  position: absolute;
  top: auto;
  right: auto;
  bottom: -2.5rem;
  left: 50%;
  width: auto;
  height: auto;
  transform: translateX(-50%);
}
@media (max-width: 1200px) {
  .header .header__arrow {
    bottom: 0;
  }
}

.footer {
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  position: relative;
  padding: 6.4rem 0;
  background: linear-gradient(180deg, #000000 0%, #aa0e00 661.48%);
}
@media (max-width: 992px) {
  .footer {
    background: #000;
    border-top: 0.2rem solid #FF1500;
    border-radius: 0;
    padding-bottom: 0;
    padding-top: 4rem;
  }
}
.footer__wrapper, .footer__copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-flow: row nowrap;
}
@media (max-width: 992px) {
  .footer__wrapper, .footer__copy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-flow: column;
    text-align: center;
  }
}
.footer__wrapper .footer__social {
  display: none;
  margin-top: 4.8rem;
}
@media (max-width: 992px) {
  .footer__wrapper .footer__social {
    display: block;
  }
}
.footer__wrapper .footer__social a {
  box-shadow: 0px 0px 2.218rem 0px rgba(255, 255, 255, 0.2);
  font-size: 2rem;
}
.footer__wrapper .footer__social a:not(:last-child) {
  margin-right: 3rem;
}
.footer__wrapper .footer__social a:hover {
  color: #FF1500;
}
.footer__item--right {
  text-align: right;
}
@media (max-width: 992px) {
  .footer__item--right {
    text-align: center;
  }
}
.footer__logo-desktop {
  width: 25rem;
  height: 6.5rem;
}
@media (max-width: 992px) {
  .footer__logo-desktop {
    display: none;
  }
}
.footer__logo-mobile {
  display: none;
  width: 10rem;
  margin: auto;
}
@media (max-width: 992px) {
  .footer__logo-mobile {
    display: block;
  }
}
.footer__p {
  margin-top: 2.4rem;
  font-size: 1.4rem;
  max-width: 35rem;
  font-weight: 300;
}
@media (max-width: 992px) {
  .footer__p {
    display: none;
  }
}
.footer__menu {
  display: flex;
  gap: 1.6rem;
  margin-top: 3.2rem;
}
@media (max-width: 992px) {
  .footer__menu {
    flex-direction: column;
    margin-top: 1.6rem;
  }
}
.footer__menu a {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.footer__menu a:hover {
  color: #FF1500;
}
.footer__heading {
  font-size: 2.6rem;
  font-weight: 500;
  color: #fff;
  text-transform: none;
  text-align: right;
  margin-bottom: 2.4rem;
  max-width: 35.5rem;
}
@media (max-width: 992px) {
  .footer__heading {
    font-size: 2rem;
    margin-top: 3.2rem;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .footer__heading {
    font-size: 1.6rem;
    font-weight: 400;
    max-width: 21rem;
  }
}
.footer__heading span {
  color: #FF1500;
}
.footer__btn {
  text-transform: uppercase;
}
.footer__copy {
  border-top: 0.1rem solid #fff;
  padding: 1.6rem 0;
  margin-top: 8rem;
}
@media (max-width: 992px) {
  .footer__copy {
    background-color: #151617;
    width: 100% !important;
    border-top: none;
    margin-top: 3.2rem;
  }
}
.footer__copyright {
  font-size: 1.4rem;
}
@media (max-width: 576px) {
  .footer__copyright {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
